<!DOCTYPE HTML>
<html>
<head>
    <title>Hercubit Web Socket test</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="http:////cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            // var connected = false;
            var stopped =false;
            var samples = {};
            var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
            

            //Receivers for Web Sockets
            socket.on('connect', function(msg) {
                $('#log').append('<p>Web Socket Established</p>');
            });
            socket.on('connection established', function(msg) {
                $('#log').append('<p>Bluetooth Connection Established</p>');
                    
                    setInterval( function() { 
                        socket.emit('get_sample');
                    }, msg.sample_rate*1000);
            });
            socket.on('device response', function(msg) {
                $('#log').append('<p>Accelerometer data: ' + msg.data + '</p>');
            });
            socket.on('Bluetooth Connection Stopped', function(msg) {
                $('#log').append('<p>Bluetooth connection Stopped</p>');
            });

            //Triggers for Web Socket
            $('form#start').submit(function(event) {
                socket.emit('bluetooth_conn');
                // connected = true;
                return false;
            });
            $('form#stop').submit(function(event) {
                // connected = false;
                stopped =true
                console.log("stop")
                socket.emit('stop');
                return false;
            });
        });
    </script>
</head>
<body>
    <h1>Hercubit to Browser test</h1>
    <!-- <h2>Send:</h2> -->
    <table>
        <tr>
<!--             <td>
                <form id="bluetooth_conn" method='POST' action='#'>
                    <textarea name="emit_data" id="emit_data"></textarea>
                    <div><input type="submit" value="Connect Bluetooth"></div>
                </form>
            </td>
            <br> -->
            <td>
                <form id="start" method='POST' action='#'>
                    <!-- <textarea name="emit_data" id="emit_data"></textarea> -->
                    <div><input type="submit" value="Start"></div>
                </form>
            </td>
            <td>
                <form id="stop" method='POST' action='#'>
                    <!-- <textarea name="broadcast_data" id="broadcast_data"></textarea> -->
                    <div><input type="submit" value="Stop"></div>
                </form>
            </td>
        </tr>
    </table>
    <h2>Output:</h2>
    <div id="log"></div>
</body>
</html>
