#modal-badge {
	-webkit-animation-duration: 0.6s;
	-moz-animation-duration: 0.6s;
	-ms-animation-duration: 0.6s;
	-o-animation-duration: 0.6s;
	animation-duration: 0.6s;
  	/*-vendor-animation-delay: 2s;*/
  /*-vendor-animation-iteration-count: infinite;*/
}