html, body {
	background: #F6F6F6;
	font-family: "Lato-light";
	margin: 0;
	max-width: 100%;
	height: 2000px;
	overflow: hidden;
}

header {
	background: #4A90E2;
	opacity: 0.95;
	height: 80px;
}

.span-regular {
	font-family: "Lato";
}
.span-288 {
	font-size: 288px;
}
.span-36 {
	font-size: 36px;
}
.span-24 {
	font-size: 24px;
}
.header_icons{
	width: 25px;
	display: inline;
    position: relative;
}
.header_icons:hover{
	cursor: pointer;
	cursor: hand;
}
.header_icons:hover:after{
	background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 198;
    width: 220px;
}

.header_icons:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 199;
}


.button-action {
	padding: 0;
	border: none;
	background: none;
	width: 90px;
	height: 30px;
	cursor: pointer;
	border-radius: 3px;
	background: #4A90E2;
	-moz-box-shadow:    0px 1px 3px 0px #D4D4D4;
	-webkit-box-shadow: 0px 1px 3px 0px #D4D4D4;
	box-shadow:         0px 1px 3px 0px #D4D4D4;
	color: #FFF;
	font-size: 15px;
	font-family: "Lato-light";
}
.button-action:hover {
	background: #4B9EFF;
}

.button-small {
	padding: 0;
	border: none;
	background: none;
	width: 80px;
	height: 25px;
	cursor: pointer;
	border-radius: 3px;
	background: #4A90E2;
	-moz-box-shadow:    0px 1px 3px 0px #D4D4D4;
	-webkit-box-shadow: 0px 1px 3px 0px #D4D4D4;
	box-shadow:         0px 1px 3px 0px #D4D4D4;
	color: #FFF;
	font-size: 13px;
	font-family: "Lato-light";
	margin-right: 10px;
}
.button-small:hover {
	background: #4B9EFF;
}


/* modal */
#modal-overlay {
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.5;
	z-index: 1;
	display: none;
}
#modal-goal {
	top: 50%;
	left: 50%;
	position: fixed;
	width: 600px;
	height: 500px;
	margin-top: -250px;
	margin-left: -300px;
	z-index: 2;
	display: none;
	padding: 20px;
}

#modal-badge {
	top: 50%;
	left: 50%;
	position: fixed;
	width: 250px;
	height: 300px;
	margin-top: -250px;
	margin-left: -125px;
	text-align: center;
	z-index: 2;
	display: none;
}

/* first time use */
#white-overlay {
	background-color: #fff;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
	position: fixed;
	display: none;
	background: #fff url("../img/workout-bg.jpg") no-repeat left top;
	background-size: cover;
}
#signup-form {
	top: 50%;
	left: 50%;
	width: 800px;
	height: 500px;
	position: fixed;
	margin-top: -250px;
	margin-left: -425px;
	z-index: 5;
	opacity: 0.9;
	display: none;
}
#signup-form .left {
	float: left;
	width: 50%;
	padding: 5%;
	padding-right: 10%;
}
#signup-form .right {
	float: left;
	width: 20%;
	padding: 5%;
	padding-top: 100px;
}

/* section */
section {
	float: left;
	-webkit-transition: -webkit-transform .4s ease-in-out;
    -moz-transition: -moz-transform .4s ease-in-out;
    -ms-transition: -ms-transform .4s ease-in-out;
    -o-transition: -o-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
}
section.metadata {
	width: 30%;
}
section.metadata[data-state="neutral"] {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
section.metadata[data-state="slide-out"] {
    -webkit-transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    -o-transform: translateX(-300px);
    transform: translateX(-300px);
}
section.main {
	width: 40%;
}
section.main .card {
	-webkit-transition: -webkit-transform .4s ease-in-out;
    -moz-transition: -moz-transform .4s ease-in-out;
    -ms-transition: -ms-transform .4s ease-in-out;
    -o-transition: -o-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
}
section.main .card[data-state="neutral"] {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
section.main .card[data-state="slide-out"] {
    -webkit-transform: translateY(1500px);
    -moz-transform: translateY(1500px);
    -o-transform: translateY(1500px);
    transform: translateY(1500px);
}
section.social {
	width: 30%;
}
section.social[data-state="neutral"] {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
section.social[data-state="slide-out"] {
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -o-transform: translateX(300px);
    transform: translateX(300px);
}

/* div */
div.header-logo {
	float: left;
	margin-top: 20px;
	vertical-align: middle;
	margin-left: 30px;
	font-family: "Lato";
	font-size: 2em;
	color: #FFF;
}
div.header-action {
	float: right;
	width: 180px;
	padding-top: 15px;
}
div.header-action img {
	margin-left: 10px;
}
/* for general background & border */
div.card {
	border-radius: 1px;
	background: #FFFFFF;
	margin: 30px;
	margin-bottom: 0;
	-moz-box-shadow:    0px 1px 3px 0px #D4D4D4;
	-webkit-box-shadow: 0px 1px 3px 0px #D4D4D4;
	box-shadow:         0px 1px 3px 0px #D4D4D4;
}
div.lines {
	-moz-box-shadow:    0px 1px 0px 0px #F0F0F0;
	-webkit-box-shadow: 0px 1px 0px 0px #F0F0F0;
	box-shadow:         0px 1px 0px 0px #F0F0F0;
}
div.lines:hover {
	cursor: pointer;
	background: #E6F2FF;
}

/* for achievements */
#achievements_title{
	padding-left: 10px;
}

#leaderboard_title{
	padding-left: 30px;
	margin-top: 20px;	
}

div.achievement .icon {
	float: left;
	margin: 30px;
}
div.achievement .desc {
	float: left;
}

/* for main */
div.main-action {
	margin: auto;
	padding-top: 80px;
	text-align: center;
}
section.main #count{
	visibility: hidden;
	opacity: 0;
	/*transition:visibility 0s linear 0.5s,opacity 0.5s linear;*/
	-webkit-transition: opacity .8s ease-in-out;
    -moz-transition: opacity .8s ease-in-out;
    -ms-transition: opacity .8s ease-in-out;
    -o-transition: opacity .8s ease-in-out;
    transition: opacity .8s ease-in-out;
}
section.main #count[data-state="neutral"] {
	visibility: hidden;
	opacity: 0;
	/*display: none;*/
	/*transition:visibility 0s linear 0.5s,opacity 0.5s linear;*/
}
section.main #count[data-state="slide-out"] {
	visibility: visible;
	opacity: 1;
	/*display: block;*/
}
#graph{
	position: absolute;
	top: 200px;
	left: 100px;
}
/*.mpld3-figure{
	width: 200px;
}*/
.mpld3-toolbar{
	display: none;
}

div.button {
	cursor: pointer;
	border-radius: 3px;
	background: #4A90E2;
	-moz-box-shadow:    0px 1px 3px 0px #D4D4D4;
	-webkit-box-shadow: 0px 1px 3px 0px #D4D4D4;
	box-shadow:         0px 1px 3px 0px #D4D4D4;
	color: #FFF;
}
div.button:hover {
	background: #4B9EFF;
}
div.button#startbtn {
	margin: auto;
	margin-top: -297px;
	line-height: 47px;
	width: 204px;
	height: 47px;
	-webkit-transition: -webkit-transform .4s ease-in-out;
    -moz-transition: -moz-transform .4s ease-in-out;
    -ms-transition: -ms-transform .4s ease-in-out;
    -o-transition: -o-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
}
div.button#startbtn[data-state="neutral"] {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
div.button#startbtn[data-state="slide-out"] {
    -webkit-transform: translateY(300px);
    -moz-transform: translateY(300px);
    -o-transform: translateY(300px);
    transform: translateY(300px);
}
div.button.disable {
	/*disabled: disabled;*/
	pointer-events: none;
	background: #eee;
}

/* for goal */
div.goal .num {
	float: left;
	margin: 30px;
}
div.goal .desc {
	float: left;
	padding-top: 30px;
}
div.goal .trash {
	visibility: hidden;
	opacity: 0;
	padding-top: 30px;
	padding-right: 30px;
	float: right;
}
div.goal .trash[data-state="neutral"] {
	visibility: hidden;
	opacity: 0;
}
div.goal .trash[data-state="hover"] {
	visibility: visible;
	opacity: 1;
}

/* for friend */
div.friend {
	height: 80px;
	/* TODO */
	/*-webkit-transition: -webkit-height .4s ease-in-out;
    -moz-transition: -moz-height .4s ease-in-out;
    -ms-transition: -ms-height .4s ease-in-out;
    -o-transition: -o-height .4s ease-in-out;
    transition: height .4s ease-in-out;*/
}
div.friend .left {
	float: left;
	width: 60px;
}
div.friend .right {
	float: left;
}
div.friend .icon {
	float: left;
	padding-top: 15px;
	padding-left: 20px;
}
div.friend .icon img {
	width: 44px;
	height: 44px;
	border-radius: 50%;
}
div.friend .name {
	/*float: left;*/
	margin-top: 10px;
	margin-left: 30px;
}

div.friend .menu {
	/*display: none;*/
	float: left;
	padding-top: 5px;
	padding-left: 30px;
}

/* for activity */
div#activity-map {
	padding: 0 10px;
}
div#activity-map .code {
	width: 30px;
	height: 30px;
	display: inline-block;
	margin: 3px;
}
div.friend .code {
	width: 20px;
	height: 20px;
	display: inline-block;
	margin: 1.5px;
}
.code.level-0 {
	background-color: #eee;
}
.code.level-1 {
	background-color: #DBE089;
}
.code.level-2 {
	background-color: #9CBF66;
}
.code.level-3 {
	background-color: #386323;
}

/* Tooltip */
.tooltip {
	width: 200px;
	height: 100px;
	background: #eee;
	color: #000;
	opacity: 0.8;
	display: none;
	position: absolute;
}

/*clearfix*/
.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}